<!DOCTYPE html>
<html>
	<head>
		<title>Test page</title>
    <script type="text/javascript" src="/jquery.js"></script>
	</head>
	<body>
    <h1>My page</h1>
    <p>My page template</p> 
	</body>
</html>